.main-display {
    background: green;
    color: #fff;
    height: 4em;
    padding: .5em;
    text-align: right;
}

.top-level-display {
    font-size: .75em;
    margin-bottom: .5em;
}

.bttm-level-display {
    font-size: 2em;
}